<div style="background-color: #1C1C1C; font-family: Montserrat; color: #ffffff; padding: 15px 20px 15px 20px; border-radius: 10px;">
    <h2><spam style="color: #836FFF;">#</spam> key de vip user</h2>
    <p>abaixo está as suas keys de vip user</p>
    
    <% for (let i = 0; i < keys_.length; i++) {%>
        <div style="background-color: #000000; font-family: Montserrat; padding: 0.5px 5px 5px 5px; border-radius: 10px; line-height: 1px; margin-top: 12px; margin-bottom: 12px;">
            <p style="margin-left: 3px;"><spam style="color: #836FFF;">#</spam> key de <%= keys_[i].type %></p>
            <p style="margin-left: 12px;"><spam style="color: #836FFF;">•</spam> <%= keys_[i].key %></p>
        </div>
    <% } %>
                
    <br/>
    <p style="opacity: 0.5">lembrando: todas as keys compradas tem uma duração de 48 horas</p>
    <h2><spam style="color: #836FFF;">#</spam> como ativar?</h2>
    <p style="margin-left: 15px;"><spam style="color: #836FFF;">1.</spam> copie um dos codigos acima em um servidor que tenha a <spam style="text-decoration: underline;">karinaTwo</spam></p>
    <p style="margin-left: 15px;"><spam style="color: #836FFF;">2.</spam> use o <spam style="color:  	#836FFF">/code</spam></p>
    <p style="margin-left: 35px;"><spam style="color: #836FFF;">•</spam> deve ficar assim: <spam style="color: #836FFF">/code key: <spam style="text-decoration: underline;">18f3e613-4bc3...</spam></spam></p>
    <p style="margin-left: 15px;"><spam style="color: #836FFF;">3.</spam> agora é so aproveitar :) </p>
    
    <br/>
    <p style="opacity: 0.5">&copy; 2023 karinaTwo | Todos os Direitos Reservados.</p>
</div>